body {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.form_task {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

}

.actions {
  display: flex;
  gap: 10px;
  display: flex;

}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: auto
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: auto
}

.save {
  background-color: #5fac61;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.cancel {
  background-color: #f54e42;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.cancel:hover {
  background-color: #ff0000;
}

.save:hover {
  background-color: #45a049;
}

/* TaskList.css */

body {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.header a {
  background-color: #5fac61;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header a:hover {
  background-color: #45a049;
}

.card_task {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_task h3 {
  margin: 0 0 10px 0;
}

.card_task p {
  margin: 0 0 20px 0;
}

.card_task div {
  display: flex;
  gap: 10px;
}

.card_task button {
  background-color: #f54e42;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.card_task button.edit {
  background-color: #b4b233;
}

.card_task button:hover {
  background-color: #ff0000;
}

.card_task button.edit:hover {
  background-color: #a2a506;
}